/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* universal css styles */

.body {
	background: #000000;
	position: relative;
}

 #jam {
 	color: white;
 	font-family: helvetica;
 	padding: 5px;
 	border: 1px solid white;
 	text-decoration: none;
 	font-size: .7em;
 	margin: 5px;
 	display: inline-block;
 	position: absolute;
 	opacity: .7;
 	right: 0;
 }

 .wrapper {
 	color: white;
 	font-family: Helvetica;
 }
                .bioWrapper {
                	padding: 30px;
                	overflow: auto;
                }
                    .bio {
                    	font-size: 1.2em;
                    	line-height: 1.7em;
                		max-width: 1000px;
                		margin: 25px 0 0 20px;
                    }
                    	.bio a {
                    		color: white;
                    		text-decoration: none;
                    		border-bottom: 1px solid white
                    	}

                    	.bio a:hover {
                    		background: white;
                    		background-color: rgba(255, 255, 255, 0.4);
                    	}

                    .logo {

                    }
                        .logo img {
                        	width: 100px;

                        }

           .contactWrapper {
           		margin-left: 50px;
           		overflow: auto;

           }
                .form-wrapper {
                    overflow: auto;
                }

                .form {
                	overflow: auto;

                }
                    .columns {
                    	border-bottom: 1px solid white;
                    	float: left;
                    	margin: 0 30px 0 0;
                    }



                    input {
						margin: auto;
						padding: 10px;
						background-color: transparent;
						border-radius: 2px;
						border: 1px solid white;
						border: 1px solid rgba(255, 0, 0, 0);
						font-family: arial;
						box-shadow: none;
						color: white;
						font-size: .9em;
						width: 100%;
                    }
                    	input:focus {
                    		outline-style: none;
                    	}

                    	input::-webkit-input-placeholder {
						   color: white;
						   opacity: .5;
						}

						input:-moz-placeholder { /* Firefox 18- */
						   color: white;
						   opacity: .5;
						}

						input::-moz-placeholder {  /* Firefox 19+ */
						   color: white;
						   opacity: .5;
						}

						input:-ms-input-placeholder {
						   color: white;
						   opacity: .5;
						}

                    .large-2 {
                    	width: 150px;
                    }
                    .large-6 {
                    	width: 300px;
                    }


                        .contactname {

                        }
                        .email {

                        }
                        .message {

                        }
                .button {
                	border: 2px solid white;
                	background-color: transparent;
                	color: white;
                	font-family: Helvetica;
                	width: 50px;
                	height: 50px;
                	padding: 20px 10px 20px 10px;
                	font-size: .6em;
                	border-radius: 100px;
                	font-weight: bold;
                	text-transform: uppercase;
                	margin-top: 10px;
                    text-align: center;
                    position: relative;
                }

                .button:hover {
                	background: white;
                	color: black;
                	cursor: pointer;
                }

                .button:focus {
                	outline-style: none;
                }

                    #greenDiv {
                        width: 50px;
                        height: 50px;
                        background: #00CC88;
                        top: 0;
                        left: 0;
                        margin: -2px 0 0 -2px;
                        position: absolute;
                        z-index: -100;
                        border-radius: 100px;
                        opacity: 0;
                    }

            #form-messages {
                margin: -5px 0 0 0;
                overflow: hidden;
            }

                .errorMsg {
                    font-size: .7em;
                    border-bottom: none;
                    position: relative;
                    z-index: 1000;



                }

                    .nameErr {
                        opacity: 0;
                    }

                    .emailErr {
                        opacity: 0;
                    }

                    .msgErr {
                        opacity: 0;
                    }

           .postsWrapper {
           		padding: 0px 0 100px 50px;
           }
                .post {
                	overflow: auto;
                	margin: 50px 0 0 0;
                }
                    .postTitle {
                    	font-weight: bold;
                    }
                    	.postTitle a {
                    		color: white;
                    		text-decoration: none;

                    	}
                    	.postTitle a:hover {
                    		background-color: rgba(255, 255, 255, 0.4);

                    	}


                    .postDescription {
                    	font-size: .9em;
                    	padding: 10px 0 10px 0;
                    }
                    .postTags {

                    }
                        .postTags ul {

                        }

                            .postTags li:first-child {
                            	float: left;
                            	padding: 5px;
								border: 1px solid white;
                            }
                            .postTags li {
                            	float: left;
                            	padding: 5px;
                            	font-size: .6em;
                            }

/***************************************************
HIDDEN POSTS ---------------------------------------
***************************************************/

.hidden-post {
	display: none;
}
