html, body {
    height: 100%;
}

#app, .container, #sidebar {
    height: 100%;
}

#sidebar {
    background: #ccc;
    padding: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding-left: 0px;
}

#sidebar ul li {
    border-bottom: 2px solid black;
}

#sidebar ul .capacity {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#content {
    width: 1200px;
    height: 100%;
}

#map {
    height: 100%;
}

#siteCapacity {
    display: none;
}
